@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.first {
  position: relative;
}

@supports (padding-bottom: clamp( 9.375rem , 6.25rem  +  13.8888888889vw , 18.75rem )) {
  .first {
    padding-bottom: clamp( 9.375rem , 6.25rem  +  13.8888888889vw , 18.75rem );
  }
}

@supports not (padding-bottom: clamp( 9.375rem , 6.25rem  +  13.8888888889vw , 18.75rem )) {
  .first {
    padding-bottom: calc(9.375rem + 9.375 * (100vw - 22.5rem) / 67.5);
  }
}

.first::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(155, 144, 127, 0.97)), color-stop(91.67%, rgba(39, 125, 172, 0.04)));
  background: -o-linear-gradient(top, rgba(155, 144, 127, 0.97) 0%, rgba(39, 125, 172, 0.04) 91.67%);
  background: linear-gradient(180deg, rgba(155, 144, 127, 0.97) 0%, rgba(39, 125, 172, 0.04) 91.67%);
  z-index: 1;
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .first::after {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .first::after {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.first::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(156, 140, 116, 0)), to(#9B907F));
  background: -o-linear-gradient(top, rgba(156, 140, 116, 0) 0%, #9B907F 100%);
  background: linear-gradient(180deg, rgba(156, 140, 116, 0) 0%, #9B907F 100%);
  z-index: 1;
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .first::before {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .first::before {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.first__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.first__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 3;
  padding-top: 30px;
}

.first__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo {
  position: relative;
  z-index: 3;
  background: rgba(217, 217, 217, 0.3);
  mix-blend-mode: color-burn;
  -webkit-box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25), 3px -3px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25), 3px -3px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 25px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@supports (padding: clamp( 0.625rem , 0.0000271263rem  +  1.3020607281vw , 1.5625rem )) {
  .logo {
    padding: clamp( 0.625rem , 0.0000271263rem  +  1.3020607281vw , 1.5625rem );
  }
}

@supports not (padding: clamp( 0.625rem , 0.0000271263rem  +  1.3020607281vw , 1.5625rem )) {
  .logo {
    padding: calc(0.625rem + 0.9375 * (100vw - 47.99875rem) / 72.00125);
  }
}

.logo__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

@supports (font-size: clamp( 1rem , 0.5010841284rem  +  1.0407632264vw , 1.75rem )) {
  .logo__text {
    font-size: clamp( 1rem , 0.5010841284rem  +  1.0407632264vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.5010841284rem  +  1.0407632264vw , 1.75rem )) {
  .logo__text {
    font-size: calc(1rem + 0.75 * (100vw - 47.9375rem) / 72.0625);
  }
}

@supports (line-height: clamp( 1.375rem , 0.8760841284rem  +  1.0407632264vw , 2.125rem )) {
  .logo__text {
    line-height: clamp( 1.375rem , 0.8760841284rem  +  1.0407632264vw , 2.125rem );
  }
}

@supports not (line-height: clamp( 1.375rem , 0.8760841284rem  +  1.0407632264vw , 2.125rem )) {
  .logo__text {
    line-height: calc(1.375rem + 0.75 * (100vw - 47.9375rem) / 72.0625);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu._menu-active {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42px;
}

@supports (gap: clamp( 0.9375rem , -0.1850607112rem  +  2.3417172593vw , 2.625rem )) {
  .menu__list {
    gap: clamp( 0.9375rem , -0.1850607112rem  +  2.3417172593vw , 2.625rem );
  }
}

@supports not (gap: clamp( 0.9375rem , -0.1850607112rem  +  2.3417172593vw , 2.625rem )) {
  .menu__list {
    gap: calc(0.9375rem + 1.6875 * (100vw - 47.9375rem) / 72.0625);
  }
}

.menu__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

@supports (font-size: clamp( 0.875rem , 0.7307692308rem  +  0.641025641vw , 1.5rem )) {
  .menu__item {
    font-size: clamp( 0.875rem , 0.7307692308rem  +  0.641025641vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7307692308rem  +  0.641025641vw , 1.5rem )) {
  .menu__item {
    font-size: calc(0.875rem + 0.625 * (100vw - 22.5rem) / 97.5);
  }
}

@supports (line-height: clamp( 1.25rem , 1.1201923077rem  +  0.5769230769vw , 1.8125rem )) {
  .menu__item {
    line-height: clamp( 1.25rem , 1.1201923077rem  +  0.5769230769vw , 1.8125rem );
  }
}

@supports not (line-height: clamp( 1.25rem , 1.1201923077rem  +  0.5769230769vw , 1.8125rem )) {
  .menu__item {
    line-height: calc(1.25rem + 0.5625 * (100vw - 22.5rem) / 97.5);
  }
}

.menu__link {
  position: relative;
}

.menu__link:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu__item.active .menu__link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu__link:hover::after {
  width: 100%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.first__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  padding: 0px 50px 0 50px;
  padding-top: 150px;
}

.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: 100% !important;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide__text {
  padding: 74px;
  background: rgba(20, 87, 141, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

@supports (padding: clamp( 1.5625rem , 0.8557692308rem  +  3.141025641vw , 4.625rem )) {
  .swiper-slide__text {
    padding: clamp( 1.5625rem , 0.8557692308rem  +  3.141025641vw , 4.625rem );
  }
}

@supports not (padding: clamp( 1.5625rem , 0.8557692308rem  +  3.141025641vw , 4.625rem )) {
  .swiper-slide__text {
    padding: calc(1.5625rem + 3.0625 * (100vw - 22.5rem) / 97.5);
  }
}

@supports (font-size: clamp( 1rem , 0.7403846154rem  +  1.1538461538vw , 2.125rem )) {
  .swiper-slide__text {
    font-size: clamp( 1rem , 0.7403846154rem  +  1.1538461538vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.7403846154rem  +  1.1538461538vw , 2.125rem )) {
  .swiper-slide__text {
    font-size: calc(1rem + 1.125 * (100vw - 22.5rem) / 97.5);
  }
}

@supports (line-height: clamp( 1.375rem , 1.1153846154rem  +  1.1538461538vw , 2.5rem )) {
  .swiper-slide__text {
    line-height: clamp( 1.375rem , 1.1153846154rem  +  1.1538461538vw , 2.5rem );
  }
}

@supports not (line-height: clamp( 1.375rem , 1.1153846154rem  +  1.1538461538vw , 2.5rem )) {
  .swiper-slide__text {
    line-height: calc(1.375rem + 1.125 * (100vw - 22.5rem) / 97.5);
  }
}

.swiper-slide__text h2 {
  text-align: right;
  margin-top: 30px;
}

.first__buttons {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (bottom: clamp( 2.5rem , 1.875rem  +  2.7777777778vw , 4.375rem )) {
  .first__buttons {
    bottom: clamp( 2.5rem , 1.875rem  +  2.7777777778vw , 4.375rem );
  }
}

@supports not (bottom: clamp( 2.5rem , 1.875rem  +  2.7777777778vw , 4.375rem )) {
  .first__buttons {
    bottom: calc(2.5rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (gap: clamp( 1.5625rem , 1.2019230769rem  +  1.6025641026vw , 3.125rem )) {
  .first__buttons {
    gap: clamp( 1.5625rem , 1.2019230769rem  +  1.6025641026vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.2019230769rem  +  1.6025641026vw , 3.125rem )) {
  .first__buttons {
    gap: calc(1.5625rem + 1.5625 * (100vw - 22.5rem) / 97.5);
  }
}

@supports (width: clamp( 2.1875rem , 1.3076923077rem  +  3.9102564103vw , 6rem )) {
  .first__buttons div img {
    width: clamp( 2.1875rem , 1.3076923077rem  +  3.9102564103vw , 6rem );
  }
}

@supports not (width: clamp( 2.1875rem , 1.3076923077rem  +  3.9102564103vw , 6rem )) {
  .first__buttons div img {
    width: calc(2.1875rem + 3.8125 * (100vw - 22.5rem) / 97.5);
  }
}

@supports (height: clamp( 2.1875rem , 1.3076923077rem  +  3.9102564103vw , 6rem )) {
  .first__buttons div img {
    height: clamp( 2.1875rem , 1.3076923077rem  +  3.9102564103vw , 6rem );
  }
}

@supports not (height: clamp( 2.1875rem , 1.3076923077rem  +  3.9102564103vw , 6rem )) {
  .first__buttons div img {
    height: calc(2.1875rem + 3.8125 * (100vw - 22.5rem) / 97.5);
  }
}

.swiper-button-prev {
  cursor: pointer;
}

.swiper-button-next {
  cursor: pointer;
}

.first__menu-btn {
  display: none;
}

.menu-btn._icon-active::after {
  -webkit-transform: translate(-50%, 0) rotate(45deg);
      -ms-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
  top: 14px;
}

.menu-btn._icon-active::before {
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
      -ms-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
  bottom: 14px;
}

.menu-btn._icon-active span {
  width: 0;
}

.menu-btn::after {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.856);
  content: "";
  left: 0;
  top: 6px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
}

.menu-btn::before {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.856);
  content: "";
  left: 0;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
}

.menu-btn span {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.856);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog {
  position: relative;
  background: #E1E1E1;
}

@supports (padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .blog {
    padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .blog {
    padding-top: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .blog {
    padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .blog {
    padding-bottom: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.blog::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9B907F), color-stop(94.27%, rgba(225, 225, 225, 0.27)));
  background: -o-linear-gradient(top, #9B907F 0%, rgba(225, 225, 225, 0.27) 94.27%);
  background: linear-gradient(180deg, #9B907F 0%, rgba(225, 225, 225, 0.27) 94.27%);
  z-index: 2;
}

@supports (height: clamp( 3.125rem , 0.3541666667rem  +  12.3148148148vw , 11.4375rem )) {
  .blog::after {
    height: clamp( 3.125rem , 0.3541666667rem  +  12.3148148148vw , 11.4375rem );
  }
}

@supports not (height: clamp( 3.125rem , 0.3541666667rem  +  12.3148148148vw , 11.4375rem )) {
  .blog::after {
    height: calc(3.125rem + 8.3125 * (100vw - 22.5rem) / 67.5);
  }
}

.blog::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 225, 0.6)), to(#BDBDBD));
  background: -o-linear-gradient(top, rgba(225, 225, 225, 0.6) 0%, #BDBDBD 100%);
  background: linear-gradient(180deg, rgba(225, 225, 225, 0.6) 0%, #BDBDBD 100%);
  z-index: 2;
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .blog::before {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .blog::before {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.blog__title {
  font-family: "Montserrat";
  position: relative;
  z-index: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #797570;
  margin-bottom: 50px;
}

@supports (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
  .blog__title {
    font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
  .blog__title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem )) {
  .blog__title {
    line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem );
  }
}

@supports not (line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem )) {
  .blog__title {
    line-height: calc(1.9375rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.blog__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #444639;
}

@supports (font-size: clamp( 0.875rem , 0.7291666667rem  +  0.6481481481vw , 1.3125rem )) {
  .blog__text {
    font-size: clamp( 0.875rem , 0.7291666667rem  +  0.6481481481vw , 1.3125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7291666667rem  +  0.6481481481vw , 1.3125rem )) {
  .blog__text {
    font-size: calc(0.875rem + 0.4375 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 1rem , 0.8125rem  +  0.8333333333vw , 1.5625rem )) {
  .blog__text {
    line-height: clamp( 1rem , 0.8125rem  +  0.8333333333vw , 1.5625rem );
  }
}

@supports not (line-height: clamp( 1rem , 0.8125rem  +  0.8333333333vw , 1.5625rem )) {
  .blog__text {
    line-height: calc(1rem + 0.5625 * (100vw - 22.5rem) / 67.5);
  }
}

.blog__text p {
  margin-bottom: 20px;
}

.blog__text ul {
  margin-bottom: 20px;
}

.blog__text ul li {
  list-style: disc;
  margin-left: 25px;
}

.blog__picture {
  position: relative;
  min-width: 32.6%;
  padding-top: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.blog__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories {
  position: relative;
  background: #E1E1E1;
}

@supports (padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories {
    padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories {
    padding-top: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories {
    padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories {
    padding-bottom: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.categories::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BDBDBD), to(rgba(225, 225, 225, 0.27)));
  background: -o-linear-gradient(top, #BDBDBD 0%, rgba(225, 225, 225, 0.27) 100%);
  background: linear-gradient(180deg, #BDBDBD 0%, rgba(225, 225, 225, 0.27) 100%);
  z-index: 2;
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories::after {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories::after {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.categories::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 225, 0.6)), to(#BDBDBD));
  background: -o-linear-gradient(top, rgba(225, 225, 225, 0.6) 0%, #BDBDBD 100%);
  background: linear-gradient(180deg, rgba(225, 225, 225, 0.6) 0%, #BDBDBD 100%);
  z-index: 2;
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories::before {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .categories::before {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.categories__content {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px 24px;
  height: 923px;
}

@supports (height: clamp( 21.875rem , 9.9375rem  +  53.0555555556vw , 57.6875rem )) {
  .categories__content {
    height: clamp( 21.875rem , 9.9375rem  +  53.0555555556vw , 57.6875rem );
  }
}

@supports not (height: clamp( 21.875rem , 9.9375rem  +  53.0555555556vw , 57.6875rem )) {
  .categories__content {
    height: calc(21.875rem + 35.8125 * (100vw - 22.5rem) / 67.5);
  }
}

.categories__picture {
  position: relative;
  width: 100%;
  height: 100%;
}

.categories__content .categories__picture:nth-child(1) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 9;
  grid-row-end: 11;
}

.categories__content .categories__picture:nth-child(2) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 9;
  grid-row-end: 10;
}

.categories__content .categories__picture:nth-child(3) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 9;
  grid-row-end: 11;
}

.categories__content .categories__title:nth-child(4) {
  -ms-grid-row: 10;
      grid-row-start: 10;
  -ms-grid-row-span: 2;
  grid-row-end: 12;
}

.categories__content .categories__picture:nth-child(5) {
  -ms-grid-row: 11;
      grid-row-start: 11;
  -ms-grid-row-span: 9;
  grid-row-end: 20;
}

.categories__content .categories__picture:nth-child(6) {
  -ms-grid-row: 12;
      grid-row-start: 12;
  -ms-grid-row-span: 10;
  grid-row-end: 22;
}

.categories__content .categories__picture:nth-child(7) {
  -ms-grid-row: 11;
      grid-row-start: 11;
  -ms-grid-row-span: 9;
  grid-row-end: 20;
}

.categories__picture {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 10px;
}

.categories__picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(109, 109, 109, 0.65);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.categories__picture:hover::after {
  opacity: 0.65;
}

.categories__picture:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.categories__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.categories__picture:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.categories__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #797570;
}

@supports (font-size: clamp( 1.5625rem , -0.2182392273rem  +  3.7147102526vw , 3.125rem )) {
  .categories__title {
    font-size: clamp( 1.5625rem , -0.2182392273rem  +  3.7147102526vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , -0.2182392273rem  +  3.7147102526vw , 3.125rem )) {
  .categories__title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 47.9375rem) / 42.0625);
  }
}

@supports (line-height: clamp( 1.9375rem , -0.1993870728rem  +  4.4576523031vw , 3.8125rem )) {
  .categories__title {
    line-height: clamp( 1.9375rem , -0.1993870728rem  +  4.4576523031vw , 3.8125rem );
  }
}

@supports not (line-height: clamp( 1.9375rem , -0.1993870728rem  +  4.4576523031vw , 3.8125rem )) {
  .categories__title {
    line-height: calc(1.9375rem + 1.875 * (100vw - 47.9375rem) / 42.0625);
  }
}

.categories__picture-text {
  position: relative;
  z-index: 3;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-bottom: 50px;
}

@supports (font-size: clamp( 0.875rem , 0.5rem  +  1.6666666667vw , 2rem )) {
  .categories__picture-text {
    font-size: clamp( 0.875rem , 0.5rem  +  1.6666666667vw , 2rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.5rem  +  1.6666666667vw , 2rem )) {
  .categories__picture-text {
    font-size: calc(0.875rem + 1.125 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 1.0625rem , 0.6041666667rem  +  2.037037037vw , 2.4375rem )) {
  .categories__picture-text {
    line-height: clamp( 1.0625rem , 0.6041666667rem  +  2.037037037vw , 2.4375rem );
  }
}

@supports not (line-height: clamp( 1.0625rem , 0.6041666667rem  +  2.037037037vw , 2.4375rem )) {
  .categories__picture-text {
    line-height: calc(1.0625rem + 1.375 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (margin-bottom: clamp( 0.625rem , -0.2083333333rem  +  3.7037037037vw , 3.125rem )) {
  .categories__picture-text {
    margin-bottom: clamp( 0.625rem , -0.2083333333rem  +  3.7037037037vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.2083333333rem  +  3.7037037037vw , 3.125rem )) {
  .categories__picture-text {
    margin-bottom: calc(0.625rem + 2.5 * (100vw - 22.5rem) / 67.5);
  }
}

.categories__picture:hover .categories__picture-text {
  opacity: 1;
}

.certificates::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BDBDBD), to(rgba(225, 225, 225, 0.27)));
  background: -o-linear-gradient(top, #BDBDBD 0%, rgba(225, 225, 225, 0.27) 100%);
  background: linear-gradient(180deg, #BDBDBD 0%, rgba(225, 225, 225, 0.27) 100%);
  z-index: 2;
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates::after {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates::after {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.certificates::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 225, 225, 0.6)), to(#BDBDBD));
  background: -o-linear-gradient(top, rgba(225, 225, 225, 0.6) 0%, #BDBDBD 100%);
  background: linear-gradient(180deg, rgba(225, 225, 225, 0.6) 0%, #BDBDBD 100%);
  z-index: 2;
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates::before {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates::before {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.certificates {
  position: relative;
  background: #E1E1E1;
}

@supports (padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates {
    padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates {
    padding-top: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates {
    padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .certificates {
    padding-bottom: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.certificates__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #797570;
}

@supports (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
  .certificates__title {
    font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
  .certificates__title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem )) {
  .certificates__title {
    line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem );
  }
}

@supports not (line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem )) {
  .certificates__title {
    line-height: calc(1.9375rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 0.7693488943rem  +  4.914004914vw , 3.125rem )) {
  .certificates__title {
    margin-bottom: clamp( 1.875rem , 0.7693488943rem  +  4.914004914vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7693488943rem  +  4.914004914vw , 3.125rem )) {
  .certificates__title {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 22.5rem) / 25.4375);
  }
}

.certificates__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px 25px;
}

@supports (height: clamp( 28.125rem , 15.7291666667rem  +  55.0925925926vw , 65.3125rem )) {
  .certificates__content {
    height: clamp( 28.125rem , 15.7291666667rem  +  55.0925925926vw , 65.3125rem );
  }
}

@supports not (height: clamp( 28.125rem , 15.7291666667rem  +  55.0925925926vw , 65.3125rem )) {
  .certificates__content {
    height: calc(28.125rem + 37.1875 * (100vw - 22.5rem) / 67.5);
  }
}

.certificates__content .certificates__picture:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 7;
  grid-row-end: 8;
}

.certificates__content .certificates__picture:nth-child(2) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 7;
  grid-row-end: 9;
}

.certificates__content .certificates__picture:nth-child(3) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 7;
  grid-row-end: 8;
}

.certificates__content .certificates__picture:nth-child(4) {
  -ms-grid-row: 8;
      grid-row-start: 8;
  -ms-grid-row-span: 7;
  grid-row-end: 15;
}

.certificates__content .certificates__picture:nth-child(5) {
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 12;
  grid-row-end: 21;
}

.certificates__content .certificates__picture:nth-child(6) {
  -ms-grid-row: 8;
      grid-row-start: 8;
  -ms-grid-row-span: 7;
  grid-row-end: 15;
}

.certificates__content .certificates__picture:nth-child(7) {
  -ms-grid-row: 15;
      grid-row-start: 15;
  -ms-grid-row-span: 8;
  grid-row-end: 23;
}

.certificates__content .certificates__picture:nth-child(8) {
  -ms-grid-row: 15;
      grid-row-start: 15;
  -ms-grid-row-span: 8;
  grid-row-end: 23;
}

.certificates__picture {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  cursor: url("img/main/certificates/map.png"), auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificates__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.certificates__picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(109, 109, 109, 0.65);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.certificates__picture:hover::after {
  opacity: 0.65;
}

.lg-backdrop {
  background-color: rgba(255, 255, 255, 0.918) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.lg-next,
.lg-prev {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: white !important;
}

.lg-object.lg-image {
  border: 4px solid rgba(0, 0, 0, 0.699) !important;
}

.contacts {
  position: relative;
  padding-bottom: 50px;
  background: rgba(118, 110, 126, 0.72);
}

@supports (padding-top: clamp( 3.125rem , 2.75rem  +  1.6666666667vw , 4.25rem )) {
  .contacts {
    padding-top: clamp( 3.125rem , 2.75rem  +  1.6666666667vw , 4.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.75rem  +  1.6666666667vw , 4.25rem )) {
  .contacts {
    padding-top: calc(3.125rem + 1.125 * (100vw - 22.5rem) / 67.5);
  }
}

.contacts::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BDBDBD), color-stop(91.67%, rgba(153, 147, 159, 0.45)));
  background: -o-linear-gradient(top, #BDBDBD 0%, rgba(153, 147, 159, 0.45) 91.67%);
  background: linear-gradient(180deg, #BDBDBD 0%, rgba(153, 147, 159, 0.45) 91.67%);
  z-index: 1;
}

@supports (height: clamp( 6.25rem , 4.5208333333rem  +  7.6851851852vw , 11.4375rem )) {
  .contacts::after {
    height: clamp( 6.25rem , 4.5208333333rem  +  7.6851851852vw , 11.4375rem );
  }
}

@supports not (height: clamp( 6.25rem , 4.5208333333rem  +  7.6851851852vw , 11.4375rem )) {
  .contacts::after {
    height: calc(6.25rem + 5.1875 * (100vw - 22.5rem) / 67.5);
  }
}

.contacts__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 493px;
}

.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 44px 50px 20px;
  background: #F5F5F5;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), -5px 0px 4px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), -5px 0px 4px rgba(0, 0, 0, 0.27);
}

.form__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #797570;
  margin-bottom: 40px;
}

@supports (font-size: clamp( 1.5625rem , 1.4166666667rem  +  0.6481481481vw , 2rem )) {
  .form__title {
    font-size: clamp( 1.5625rem , 1.4166666667rem  +  0.6481481481vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.4166666667rem  +  0.6481481481vw , 2rem )) {
  .form__title {
    font-size: calc(1.5625rem + 0.4375 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 1.9375rem , 1.7708333333rem  +  0.7407407407vw , 2.4375rem )) {
  .form__title {
    line-height: clamp( 1.9375rem , 1.7708333333rem  +  0.7407407407vw , 2.4375rem );
  }
}

@supports not (line-height: clamp( 1.9375rem , 1.7708333333rem  +  0.7407407407vw , 2.4375rem )) {
  .form__title {
    line-height: calc(1.9375rem + 0.5 * (100vw - 22.5rem) / 67.5);
  }
}

.form__input {
  outline: none;
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.27);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.27);
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.form__textarea {
  outline: none;
  width: 100%;
  height: 115px;
  padding: 10px 16px;
  resize: none;
  background: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.27);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.27);
  color: #000000;
  margin-bottom: 23px;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.form__input:focus {
  border: 1px solid rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.096), 0px 0px 4px rgba(0, 0, 0, 0.137);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.096), 0px 0px 4px rgba(0, 0, 0, 0.137);
}

.form__textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.096), 0px 0px 4px rgba(0, 0, 0, 0.137);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.096), 0px 0px 4px rgba(0, 0, 0, 0.137);
}

.form__input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__input::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__textarea::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__textarea::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #797570;
}

.form__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #696764;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin: 0 auto;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.27);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.27);
}

.form__btn:hover {
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.27);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.27);
}

.contacts__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 334px;
          flex: 1 1 334px;
  max-width: 334px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.27);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.27);
}

.contacts__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 300px;
}

.header::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(156, 140, 116, 0)), to(rgba(155, 144, 127, 0.97)));
  background: -o-linear-gradient(top, rgba(156, 140, 116, 0) 0%, rgba(155, 144, 127, 0.97) 100%);
  background: linear-gradient(180deg, rgba(156, 140, 116, 0) 0%, rgba(155, 144, 127, 0.97) 100%);
}

@supports (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .header::after {
    height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .header::after {
    height: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__content {
  position: relative;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
}

@supports (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .header__content {
    padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5rem  +  2.7777777778vw , 5rem )) {
  .header__content {
    padding-bottom: calc(3.125rem + 1.875 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (gap: clamp( 1.5625rem , 0.5208333333rem  +  4.6296296296vw , 4.6875rem )) {
  .header__content {
    gap: clamp( 1.5625rem , 0.5208333333rem  +  4.6296296296vw , 4.6875rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 0.5208333333rem  +  4.6296296296vw , 4.6875rem )) {
  .header__content {
    gap: calc(1.5625rem + 3.125 * (100vw - 22.5rem) / 67.5);
  }
}

.header__block-title {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}

@supports (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
  .header__title {
    font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
  .header__title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 2.25rem , 1.7291666667rem  +  2.3148148148vw , 3.8125rem )) {
  .header__title {
    line-height: clamp( 2.25rem , 1.7291666667rem  +  2.3148148148vw , 3.8125rem );
  }
}

@supports not (line-height: clamp( 2.25rem , 1.7291666667rem  +  2.3148148148vw , 3.8125rem )) {
  .header__title {
    line-height: calc(2.25rem + 1.5625 * (100vw - 22.5rem) / 67.5);
  }
}

.header__title-text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

@supports (font-size: clamp( 1.125rem , 0.875rem  +  1.1111111111vw , 1.875rem )) {
  .header__title-text {
    font-size: clamp( 1.125rem , 0.875rem  +  1.1111111111vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.875rem  +  1.1111111111vw , 1.875rem )) {
  .header__title-text {
    font-size: calc(1.125rem + 0.75 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 1.5625rem , 1.3125rem  +  1.1111111111vw , 2.3125rem )) {
  .header__title-text {
    line-height: clamp( 1.5625rem , 1.3125rem  +  1.1111111111vw , 2.3125rem );
  }
}

@supports not (line-height: clamp( 1.5625rem , 1.3125rem  +  1.1111111111vw , 2.3125rem )) {
  .header__title-text {
    line-height: calc(1.5625rem + 0.75 * (100vw - 22.5rem) / 67.5);
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__buttons-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

@supports (font-size: clamp( 0.75rem , 0.5833333333rem  +  0.7407407407vw , 1.25rem )) {
  .header__buttons-text {
    font-size: clamp( 0.75rem , 0.5833333333rem  +  0.7407407407vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.5833333333rem  +  0.7407407407vw , 1.25rem )) {
  .header__buttons-text {
    font-size: calc(0.75rem + 0.5 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (line-height: clamp( 0.9375rem , 0.7708333333rem  +  0.7407407407vw , 1.4375rem )) {
  .header__buttons-text {
    line-height: clamp( 0.9375rem , 0.7708333333rem  +  0.7407407407vw , 1.4375rem );
  }
}

@supports not (line-height: clamp( 0.9375rem , 0.7708333333rem  +  0.7407407407vw , 1.4375rem )) {
  .header__buttons-text {
    line-height: calc(0.9375rem + 0.5 * (100vw - 22.5rem) / 67.5);
  }
}

.header__btn {
  position: relative;
  margin: 0 auto;
}

@supports (width: clamp( 1.875rem , 1.3541666667rem  +  2.3148148148vw , 3.4375rem )) {
  .header__btn {
    width: clamp( 1.875rem , 1.3541666667rem  +  2.3148148148vw , 3.4375rem );
  }
}

@supports not (width: clamp( 1.875rem , 1.3541666667rem  +  2.3148148148vw , 3.4375rem )) {
  .header__btn {
    width: calc(1.875rem + 1.5625 * (100vw - 22.5rem) / 67.5);
  }
}

@supports (height: clamp( 1.875rem , 1.3541666667rem  +  2.3148148148vw , 3.4375rem )) {
  .header__btn {
    height: clamp( 1.875rem , 1.3541666667rem  +  2.3148148148vw , 3.4375rem );
  }
}

@supports not (height: clamp( 1.875rem , 1.3541666667rem  +  2.3148148148vw , 3.4375rem )) {
  .header__btn {
    height: calc(1.875rem + 1.5625 * (100vw - 22.5rem) / 67.5);
  }
}

.header__btn img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background: #4D4A55;
}

.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

@supports (font-size: clamp( 0.875rem , 0.7884615385rem  +  0.3846153846vw , 1.25rem )) {
  .footer__text {
    font-size: clamp( 0.875rem , 0.7884615385rem  +  0.3846153846vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7884615385rem  +  0.3846153846vw , 1.25rem )) {
  .footer__text {
    font-size: calc(0.875rem + 0.375 * (100vw - 22.5rem) / 97.5);
  }
}

@supports (line-height: clamp( 1.25rem , 1.2067307692rem  +  0.1923076923vw , 1.4375rem )) {
  .footer__text {
    line-height: clamp( 1.25rem , 1.2067307692rem  +  0.1923076923vw , 1.4375rem );
  }
}

@supports not (line-height: clamp( 1.25rem , 1.2067307692rem  +  0.1923076923vw , 1.4375rem )) {
  .footer__text {
    line-height: calc(1.25rem + 0.1875 * (100vw - 22.5rem) / 97.5);
  }
}

.footer__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 767.98px) {
  .first__content {
    padding: 0px 150px 0 150px;
    padding-top: 250px;
  }
}

@media (min-width: 991px) {
  .first__content {
    width: 150vw;
    margin-left: -25vw;
  }
}

@media (min-width: 991.98px) {
  .swiper-slide-next {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 1280px) {
  .certificates__content {
    gap: 0px 25px;
  }
}

@media (max-width: 991.98px) {
  .certificates__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .certificates__content .certificates__picture:nth-child(5) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .certificates__picture {
    width: calc(33% - 8px);
  }

  .certificates__picture img {
    position: static;
  }
}

@media (max-width: 767.98px) {
  .first__menu {
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu {
    position: fixed;
    gap: 20px;
    top: 0;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #797570;
    padding: 40px 20px;
    height: 100vh;
    width: 100%;
    z-index: 100;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .menu__item {
    font-size: 20px;
    line-height: 24px;
  }

  .menu__link:after {
    height: 1px;
  }

  .menu__item.active .menu__link:after {
    height: 1px;
  }

  .first__menu-btn {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 120000;
  }

  .menu-btn {
    display: block;
    position: relative;
    width: 35px;
    height: 30px;
    background: rgba(217, 217, 217, 0.3);
    mix-blend-mode: color-burn;
    -webkit-box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25), 3px -3px 4px rgba(0, 0, 0, 0.25);
            box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25), 3px -3px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }

  .blog__title {
    margin-bottom: 30px;
  }

  .blog__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }

  .blog__text p {
    margin-bottom: 15px;
  }

  .blog__text ul {
    margin-bottom: 15px;
  }

  .blog__picture {
    margin: 0 auto;
    min-width: 50%;
    padding-top: 75%;
  }

  .categories__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    gap: 15px 15px;
  }

  .categories__content .categories__picture:nth-child(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 8;
    grid-row-end: 10;
  }

  .categories__content .categories__title:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 100%;
  }

  .categories__picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: calc(50% - 7.5px);
    padding-top: 38.3%;
  }

  .categories__title {
    margin-bottom: 15px;
  }

@supports (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
    .categories__title {
      font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.0416666667rem  +  2.3148148148vw , 3.125rem )) {
    .categories__title {
      font-size: calc(1.5625rem + 1.5625 * (100vw - 22.5rem) / 67.5);
    }
}

@supports (line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem )) {
    .categories__title {
      line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem );
    }
}

@supports not (line-height: clamp( 1.9375rem , 1.3125rem  +  2.7777777778vw , 3.8125rem )) {
    .categories__title {
      line-height: calc(1.9375rem + 1.875 * (100vw - 22.5rem) / 67.5);
    }
}

  .contacts__form {
    min-width: 50%;
  }

  .form {
    padding: 25px 15px 15px;
  }

  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 650px) {
  .certificates__picture {
    width: calc(50% - 8px);
  }
}

@media (max-width: 550px) {
  .blog__picture {
    margin: 0 auto;
    min-width: 65%;
    padding-top: 100%;
  }

  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__form {
    max-width: 100%;
  }

  .form__btn {
    min-width: 100%;
  }

  .contacts__picture {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-top: 125%;
  }
}

@media (max-width: 467.98px) {
  .categories__picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: calc(50% - 7.5px);
    padding-top: 39%;
  }
}

@media (max-width: 399.98px) {
  .categories__picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding-top: 50%;
  }
}

@media (max-width: 61.99875em) {
  .header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}